 :root, [data-bs-theme=light], [data-menu-theme=light] {
  --tblr-gray: #4c496c;
  --tblr-gray-dark: #211d3b;
  --tblr-gray-100: #f1f5f9;
  --tblr-gray-200: #e2e8f0;
  --tblr-gray-300: #c8d3e1;
  --tblr-gray-400: #c9c1d6;
  --tblr-gray-500: #736c91;
  --tblr-gray-600: #4c496c;
  --tblr-gray-700: #333152;
  --tblr-gray-800: #211d3b;
  --tblr-gray-900: #1a0f2a;
  --tblr-primary: #428851e5;
  --tblr-secondary: #66626c;
  --tblr-success: #42ba96;
  --tblr-info: #467fd0;
  --tblr-warning: #ffc107;
  --tblr-danger: #df4759;
  --tblr-light: #f8fafc;
  --tblr-dark: #241f2d;
  --tblr-muted: #66626c;
  --tblr-tabler: #428851e5;
  --tblr-primary-rgb: 39, 80, 48;
  --tblr-secondary-rgb: 102, 98, 108;
  --tblr-success-rgb: 66, 186, 150;
  --tblr-info-rgb: 70, 127, 208;
  --tblr-warning-rgb: 255, 193, 7;
  --tblr-danger-rgb: 223, 71, 89;
  --tblr-light-rgb: 248, 250, 252;
  --tblr-dark-rgb: 36, 31, 45;
  --tblr-muted-rgb: 102, 98, 108;
  --tblr-tabler-rgb: 39, 80, 48;
  --tblr-primary-text-emphasis: #1e5029e5;
  --tblr-secondary-text-emphasis: #42444b;
  --tblr-success-text-emphasis: #1a4a3c;
  --tblr-info-text-emphasis: #1c3353;
  --tblr-warning-text-emphasis: #664d03;
  --tblr-danger-text-emphasis: #591c24;
  --tblr-light-text-emphasis: #333152;
  --tblr-dark-text-emphasis: #333152;
  --tblr-primary-bg-subtle: #bff7cbe5;
  --tblr-secondary-bg-subtle: #edeef1;
  --tblr-success-bg-subtle: #d9f1ea;
  --tblr-info-bg-subtle: #dae5f6;
  --tblr-warning-bg-subtle: #fff3cd;
  --tblr-danger-bg-subtle: #f9dade;
  --tblr-light-bg-subtle: #f8fafc;
  --tblr-dark-bg-subtle: #a09bbe;
  --tblr-primary-border-subtle: #e9ffeee5;
  --tblr-secondary-border-subtle: #dbdde4;
  --tblr-success-border-subtle: #b3e3d5;
  --tblr-info-border-subtle: #b5ccec;
  --tblr-warning-border-subtle: #ffe69c;
  --tblr-danger-border-subtle: #f2b5bd;
  --tblr-light-border-subtle: #e2e8f0;
  --tblr-dark-border-subtle: #736c91;
  --tblr-body-font-size: 0.875rem;
  --tblr-body-font-weight: 400;
  --tblr-body-line-height: 1.4285714286;
  --tblr-body-color: #241f2d;
  --tblr-body-color-rgb: 36, 31, 45;
  --tblr-body-bg: #f1f5f9;
  --tblr-body-bg-rgb: 241, 245, 249;
  --tblr-emphasis-color: #000;
  --tblr-emphasis-color-rgb: 0, 0, 0;
  --tblr-secondary-color: rgba(36, 31, 45, .75);
  --tblr-secondary-color-rgb: 36, 31, 45;
  --tblr-secondary-bg: #e2e8f0;
  --tblr-secondary-bg-rgb: 226, 232, 240;
  --tblr-tertiary-color: rgba(36, 31, 45, .5);
  --tblr-tertiary-color-rgb: 36, 31, 45;
  --tblr-tertiary-bg: #f1f5f9;
  --tblr-tertiary-bg-rgb: 241, 245, 249;
  --tblr-link-color: #428851e5;
  --tblr-link-color-rgb: 39, 80, 48;
  --tblr-link-hover-color: #428851e5;
  --tblr-link-hover-color-rgb: 99, 84, 191;
  --tblr-border-color: #e7e6e7;
  --tblr-border-color-translucent: rgba(102, 98, 108, .16);
  --tblr-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, .075);
  --tblr-focus-ring-width: 0.25rem;
  --tblr-focus-ring-opacity: 0.25;
  --tblr-focus-ring-color: rgba(39, 80, 48, .25);
  --tblr-form-valid-color: #42ba96;
  --tblr-form-valid-border-color: #42ba96;
  --tblr-form-invalid-color: #df4759;
  --tblr-form-invalid-border-color: #df4759;
  --tblr-danger-text: var(--tblr-danger);
  --tblr-navbar-border-color: transparent;
}
